<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chronos OSX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Chronos iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Chronos tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64B3CE1B1ACDDA2800145E36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64B3CE261ACDDA2800145E36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64C8840E1C026826005DB548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64C884171C026826005DB548</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9ED4511AD0B36A0068D45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD9ED45B1AD0B36A0068D45E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
